#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #ccc;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}

#abt-me-head {
  padding-top: 50px;
  margin-left: 10%;
  padding-bottom: 3rem;
}

#background {
  background-color: cadetblue;
}

#section {
  width: 715px;
  margin-right: 30px;
  margin-left: 15px;
}

#parent-2col { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 2rem; 
  width: 50%; 
} 

#child-2col { 
  margin: 1rem; 
}

#parent-4col { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 2rem; 
  width: 50%; 
} 

#child-4col { 
  margin: 1rem; 
}






